@charset "UTF-8";
/*----plantillas del proyeclto, reseteo, declaraciones de las tipografias, colores de fondo, animaciones, tamaño de tipografía----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Secular One", sans-serif, "Roboto Mono", monospace;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.h1 {
  font-family: "Secular One";
  font-size: 3rem;
  font-weight: bold;
}

.h2__primero {
  margin-top: 30px;
  background-color: #011627;
  margin-bottom: 20px;
  color: #fdfffc;
}

.h2 {
  font-family: "Secular One";
  font-size: 2rem;
  font-weight: lighter;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 10px;
  color: #fdfffc;
  background-color: #011627;
}
.h2 .h2__div {
  width: 50%;
}

.h3 {
  font-family: "Roboto Mono";
  font-size: 1.5rem;
  font-weight: bold;
  color: #2ec4b6;
  margin-top: 5px;
}

.h3__irn {
  font-family: "Roboto Mono";
  font-size: 1.5rem;
  font-weight: bold;
  color: #f8b75b;
  margin-top: 5px;
}

.p {
  font-family: "Roboto Mono";
  font-size: 1rem;
  font-weight: initial;
}

/*----tarjetas, botones, header, footer, formularios----*/
.navbar {
  background: rgb(144, 242, 225);
  background: linear-gradient(90deg, rgb(144, 242, 225) 2%, rgb(7, 190, 159) 61%, rgb(6, 10, 121) 100%);
  width: 100%;
  border: solid 0.3em;
}
.navbar nav {
  font-family: "Roboto Mono", monospace;
}

.footer {
  background: rgb(144, 242, 225);
  background: linear-gradient(90deg, rgb(144, 242, 225) 2%, rgb(7, 190, 159) 61%, rgb(6, 10, 121) 100%);
  width: 100%;
  border: solid 0.3em;
}
.footer ul, .footer li {
  gap: 5px;
  color: black;
  margin-top: 15px;
  font-family: "Roboto Mono", monospace;
}

form {
  width: 300px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  background-color: #2ec4b6;
  margin-bottom: 55px;
}

form label {
  width: 72px;
  font-weight: bold;
  display: inline-block;
}

form input[type=text],
form input[type=email] {
  width: 180px;
  padding: 3px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block;
}

form input[type=submit] {
  width: 100%;
  padding: 8px 16px;
  margin-top: 32px;
  border: 1px solid #000;
  border-radius: 5px;
  display: block;
  color: #fff;
  background-color: #000;
}

form input[type=submit]:hover {
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  /*resize: vertical | horizontal | none | both*/
  resize: none;
  display: block;
}

.container__imagenes {
  width: 100%;
  margin: auto;
}
.container__imagenes .imagenes {
  width: 400px;
  height: 350px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-top: 30px;
  gap: 10px;
  object-fit: cover;
  border-radius: 10px;
  border-style: ridge;
}

.imagenes2 {
  width: 400px;
  height: 350px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-top: 30px;
  gap: 10px;
  object-fit: cover;
  border-radius: 10px;
  border-style: ridge;
  background-size: contain;
}

.p__bio {
  width: 400px;
  height: 210px;
  margin-bottom: 30px;
  margin-left: 30px;
  row-gap: 10px;
  font-family: "Roboto Mono";
  font-size: 1rem;
  font-weight: initial;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 10px;
  border-radius: 10px;
  border-style: ridge;
}

.p__bio1 {
  width: 400px;
  height: 210px;
  margin-bottom: 30px;
  margin-left: 30px;
  row-gap: 10px;
  font-family: "Roboto Mono";
  font-size: 1rem;
  font-weight: initial;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 10px;
  border-radius: 10px;
  border-style: ridge;
}

.p__tomas {
  font-family: "Roboto Mono";
  font-size: 1rem;
  font-weight: initial;
  height: 378px;
  padding-left: 10px;
  padding-right: 25px;
  border-radius: 10px;
  border-style: ridge;
}

.p__federica {
  font-family: "Roboto Mono";
  font-size: 1rem;
  font-weight: initial;
  height: 378px;
  padding-left: 10px;
  padding-right: 25px;
  border-radius: 10px;
  border-style: ridge;
}

.p__julieta {
  font-family: "Roboto Mono";
  font-size: 1rem;
  font-weight: initial;
  height: 378px;
  padding-left: 10px;
  padding-right: 25px;
  border-radius: 10px;
  border-style: ridge;
}

.p__emiliano {
  font-family: "Roboto Mono";
  font-size: 1rem;
  font-weight: initial;
  height: 378px;
  padding-left: 10px;
  padding-right: 25px;
  border-radius: 10px;
  border-style: ridge;
}

.fotochiquitos {
  border-radius: 10px;
  border-style: ridge;
}

.btn {
  background-color: black;
  color: white;
  margin: auto;
}

.btn-sobris__toto:hover {
  background-color: #2ec4b6;
  border-style: dashed;
  color: black;
}

.btn-sobris__fede:hover {
  background-color: #f8b75b;
  border-style: dashed;
  color: black;
}

.btn-sobris__juli:hover {
  background-color: #e06372;
  border-style: dashed;
  color: black;
}

.btn-sobris__emi:hover {
  background-color: #00b4d8;
  border-style: dashed;
  color: black;
}

.img__irlanda {
  border-radius: 150px;
  box-shadow: inset;
}

.img__irlanda:hover {
  filter: grayscale(75%);
}

.img__irn {
  border-top-left-radius: 50px 100px;
  border-radius: 50px 100px;
  margin-left: 30px;
  margin-right: 10px;
  margin-top: 25px;
  padding-left: 55px;
}

.img__irn:hover {
  filter: saturate(300%);
}

.p__irn1 {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 85px;
}

.p__irn2 {
  margin-top: 85px;
  margin-bottom: 30px;
  margin-left: 0px;
}

.p__uru {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.img__uru {
  border-radius: 100px;
  margin-right: 30px;
  margin-left: 10px;
  margin-top: 25px;
  padding-left: 55px;
}

.img__uru:hover {
  filter: sepia(99%);
}

.img__dansk {
  border-radius: 100px;
  margin-right: 15px;
  margin-left: 35px;
  margin-top: 25px;
  margin-bottom: 35px;
}

.img__dansk:hover {
  filter: drop-shadow(55%);
}

.fotoredonda {
  width: 300px;
  height: 300px;
  background-image: url(../img/cakepops.jpg);
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto;
  object-fit: cover;
}

.fotoredonda1 {
  width: 300px;
  height: 300px;
  background-image: url(../img/maquillajeju.jpg);
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto;
  object-fit: cover;
}

.fotoredonda2 {
  width: 300px;
  height: 300px;
  background-image: url(../img/yogatime2.jpg);
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto;
  object-fit: cover;
}

.fotoredonda3 {
  width: 300px;
  height: 300px;
  background-image: url(../img/dibujamosjuli.jpg);
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto;
  object-fit: cover;
}

.h2__a {
  font-family: "Secular One";
  font-size: 2rem;
  font-weight: lighter;
  margin-top: 35px;
  margin-bottom: 20px;
  color: #fdfffc;
  background-color: #011627;
}

.h3__a {
  margin-top: 25px;
  margin-bottom: 15px;
  background-color: #e06372;
  width: 60%;
}

.img__disney {
  border-radius: 35px;
  object-fit: cover;
}

.imagen__dibujo {
  background-image: url(../img/dibujototo.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-attachment: fixed;
  width: 100%;
}

.p__s {
  font-family: "Roboto Mono";
  font-size: 1rem;
  font-weight: initial;
  padding-left: 80px;
}

.p__s2 {
  font-family: "Roboto Mono";
  font-size: 1rem;
  font-weight: initial;
  padding-left: 80px;
  margin-top: 25px;
  margin-bottom: 25px;
}

@media (min-width: 356px) {
  .p__s {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 0.5rem;
  }
}
.svg {
  margin: 55px;
  width: 200px;
  height: auto;
}

.h2__s {
  font-family: "Secular One";
  font-size: 2rem;
  font-weight: lighter;
  margin-bottom: 20px;
  color: black;
  background: rgb(63, 94, 251);
  background: radial-gradient(circle, rgb(63, 94, 251) 0%, rgb(252, 70, 107) 100%);
  width: 50%;
}

.h2__s1 {
  font-family: "Secular One";
  font-size: 2rem;
  font-weight: lighter;
  margin-bottom: 20px;
  color: black;
  background: rgb(63, 94, 251);
  background: radial-gradient(circle, rgb(63, 94, 251) 0%, rgb(252, 70, 107) 100%);
  width: 50%;
  margin-top: 15px;
}

.h3__s {
  font-family: "Roboto Mono";
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  padding-top: 25px;
  margin-left: 55px;
}

.h4__s {
  font-family: "Roboto Mono";
  font-size: 1rem;
  font-weight: bold;
  background: rgb(63, 94, 251);
  background: radial-gradient(circle, rgb(63, 94, 251) 0%, rgb(252, 70, 107) 100%);
  padding-top: 25px;
  margin-left: 55px;
}

.despedida {
  margin-top: 25px;
  margin-bottom: 25px;
  animation: reverse;
  padding-left: 55px;
}

.preguntaseria {
  font-family: "Roboto Mono", monospace;
  background: rgb(63, 94, 251);
  background: radial-gradient(circle, rgb(63, 94, 251) 0%, rgb(252, 70, 107) 100%);
  margin-top: 15px;
  margin-bottom: 15px;
}

.p__c {
  margin-top: 35px;
  margin-bottom: 15px;
  font-family: "Roboto Mono";
  font-size: 1rem;
  font-weight: initial;
}

.fondo {
  background-image: url(../img/email-pattern.png);
}

/*# sourceMappingURL=style.css.map */
