
/*----medidas----*/
/* .estilo-x {
    font-size: calc(1em + 1vw);
    line-height: 1em;
    padding: 1em;
    margin: 1em;} */

.displaynone:hover {
    display: contents
}


/*----tia mangui pagina----*/




/*----h2 Actividades----*/

/*----Actividades----*/



/*----contacto----*/