.fotoredonda {
    width: 300px;
    height: 300px;
    background-image: url(../img/cakepops.jpg);
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;

}

.fotoredonda1 {
    width: 300px;
    height: 300px;
    background-image: url(../img/maquillajeju.jpg);
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;

}
.fotoredonda2 {
    width: 300px;
    height: 300px;
    background-image: url(../img/yogatime2.jpg);
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;

}
.fotoredonda3 {
    width: 300px;
    height: 300px;
    background-image: url(../img/dibujamosjuli.jpg);
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;

}
