

.h2__div {
    width: 85%;
}

.h2__mismo {
    background-color: lightcoral;
}



.btn-sobris {
    background-color: black;
    border: lightcoral 3px solid;
    color: white;
}

.btn-sobris:hover {
    background-color: #2ec4b6;
    border: black 3px solid;
    color: white;
}

.tia__mangui {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: antiquewhite;
}