.container__imagenes {
    width: 100%;
    margin: auto;


    .imagenes {
        width: 400px;
        height: 350px;
        margin-bottom: 30px;
        margin-left: 30px;
        margin-top: 30px;
        gap: 10px;
        object-fit: cover;
        border-radius: 10px;
        border-style: ridge;

    }
}

.imagenes2 {
    width: 400px;
    height: 350px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-top: 30px;
    gap: 10px;
    object-fit: cover;
    border-radius: 10px;
    border-style: ridge;
    background-size: contain;
}

.p__bio {
    width: 400px;
    height: 210px;
    margin-bottom: 30px;
    margin-left: 30px;
    row-gap: 10px;
    font-family: 'Roboto Mono';
    font-size: 1rem;
    font-weight: initial;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 10px;
    border-style: ridge;
}

.p__bio1 {
    width: 400px;
    height: 210px;
    margin-bottom: 30px;
    margin-left: 30px;
    row-gap: 10px;
    font-family: 'Roboto Mono';
    font-size: 1rem;
    font-weight: initial;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 10px;
    border-style: ridge;
}






.p__so{
    font-family: 'Roboto Mono';
    font-size: 1rem;
    font-weight: initial;
    height: 378px;
    padding-left: 10px;
    padding-right: 25px;
    border-radius: 10px;
    border-style: ridge;
}




.fotochiquitos {
    border-radius: 10px;
    border-style: ridge;
}

.btn {
    background-color: black;
    color: white;
    margin: auto;

    }

.btn-sobris__toto:hover {

        background-color: #2ec4b6;
        border-style: dashed;
        color:  black;
    } 
.btn-sobris__fede:hover {
    
        background-color: #f8b75b;
        border-style: dashed;
        color:  black;
    } 
.btn-sobris__juli:hover {
    
        background-color: #e06372;
        border-style: dashed;
        color:  black;
    } 

.btn-sobris__emi:hover {
    
        background-color: #00b4d8;
        border-style: dashed;
        color:  black;
    } 

