.imagen__dibujo {
    background-image: url(../img/dibujototo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-attachment: fixed;
    width: 100%;

}

.p__s {
    font-family: 'Roboto Mono';
    font-size: 1rem;
    font-weight: initial;
    padding-left: 80px;

}

.svg { 
    margin: 55px ; 
    width: 200px; 
    height: auto; 
}

.h2__s {
    font-family: 'Secular One';
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 20px;  
    color: black;
    background-color: #e06372;
    width: 50%;
}
.h2__s1 {
    font-family: 'Secular One';
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 20px;  
    color: black;
    background-color: #e06372;
    width: 50%;
    margin-top: 15px;  
}


