.imagen__dibujo {
    background-image: url(../img/dibujototo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-attachment: fixed;
    width: 100%;

}

.p__s {
    font-family: 'Roboto Mono';
    font-size: 1rem;
    font-weight: initial;
    padding-left: 80px;

}

