.imagen__dibujo {
    background-image: url(../img/dibujototo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-attachment: fixed;
    width: 100%;
}

.p__s {
    font-family: 'Roboto Mono';
    font-size: 1rem;
    font-weight: initial;
    padding-left: 80px;
}

@media(max-width:356px) {
    .p__s {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 1rem;
    }
}

.svg {
    margin: 55px;
    width: 200px;
    height: auto;
}

.h2__s {
    font-family: 'Secular One';
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 20px;
    color: black;
    background: $colorprimarioheader;
    background: $backgroundheader;
    width: 50%;
}

.h2__s1 {
    font-family: 'Secular One';
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 20px;
    color: black;
    background: $colorprimarioheader;
    background: $backgroundheader;
    width: 50%;
    margin-top: 15px;

}

.h3__s {
    font-family: 'Roboto Mono';
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    padding-top: 25px;
    margin-left: 55px;

}

.h4__s {
    font-family: 'Roboto Mono';
    font-size: 1rem;
    font-weight: bold;
    background: $colorprimarioheader;
    background: $backgroundheader;
    padding-top: 25px;
    margin-left: 55px;
}

.despedida {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 55px;
}