/*----plantillas del proyeclto, reseteo, declaraciones de las tipografias, colores de fondo, animaciones, tamaño de tipografía----*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Secular One', sans-serif, 'Roboto Mono', monospace;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.h1 {
    font-family: 'Secular One';
    font-size: 3rem;
    font-weight: bold;
}
.h2__primero {
    margin-top: 30px;
    background-color:#011627;
    margin-bottom: 20px;
    color: #fdfffc;
}
.h2 {
    font-family: 'Secular One';
    font-size: 2rem;
    font-weight: lighter;
    margin-top: 85px;
    margin-bottom: 20px;
    margin-left: 10px;
    color: #fdfffc;
    background-color:#011627;

    .h2__div {
        width: 85%;
    }

}

.h3 {
    font-family: 'Roboto Mono';
    font-size: 1.5rem;
    font-weight: bold;
    color:  #2ec4b6;
    margin-top: 5px;
    
}
.h3__irn {
    font-family: 'Roboto Mono';
    font-size: 1.5rem;
    font-weight: bold;
    color: #f8b75b;
    margin-top: 5px;
}

.p {
    font-family: 'Roboto Mono';
    font-size: 1rem;
    font-weight: initial;
   
}

